.logo {
    margin-top: 37px;
    margin-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
    color: #0A1B32;
    }

.logo-dot {
    color: #FC569A;
}

nav a {
    margin-top: 48px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #1B0A42;
    /*display: inline-block;*/
}

#home {
    margin-left: 98px;
}

#sign-in {
    margin-left: 752px;
}

.nav-btn {
    width: 120px;
    height: 60px;
    margin-top: 30px;
    margin-left: 40px;
    background-color: #FC569A;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-title {
    max-width: 495px;
    width: 100%;
    margin-top: 207px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.main-info {
    max-width: 582px;
    width: 100%;
    margin-top: 6px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

.main-btn {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #FC569A;
    border-radius: 6px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

img {
    max-width: 730px;
    width: 100%;
}

section {
    display: inline-block;
}

